<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="box"
            style="background-image: url('https://media.istockphoto.com/id/466859572/photo/getting-her-yearly-check-up.jpg?s=612x612&w=0&k=20&c=Ofxma0M7vFn0oOUMvw8x1qRwIWxO-HgQf6TlSU3RDkE=');">
            <h2>Pediatrician</h2>
        </div>
        <div class="box"
            style="background-image: url('https://docsmedicalgroup.com/docsurgentcare/wp-content/uploads/sites/2/2023/08/serious-man-consulting-with-young-female-physician-doctor-checkup-meeting-hospital-skilled-general-practitioner-giving-healthcare-medical-advices-patient.jpg');">
            <h2>General Practitioner</h2>
        </div>
        <div class="box"
            style="background-image: url('https://thumbs.dreamstime.com/b/dermatologist-looking-woman-s-hand-magnifying-glass-32906870.jpg');">
            <h2>Dermatologist</h2>
        </div>
        <div class="box"
            style="background-image: url('https://thumbs.dreamstime.com/b/young-asian-male-psychiatrist-specialist-psychiatry-caucasain-female-patient-smiling-together-therapy-talking-193932478.jpg');">
            <h2>Psychiatrist</h2>
        </div>
        <div class="box"
            style="background-image: url('https://st2.depositphotos.com/4817991/11506/i/950/depositphotos_115066342-stock-photo-doctor-nutritionist-with-fruits.jpg');">
            <h2>Nutritionist</h2>
        </div>
        <div class="box"
            style="background-image: url('https://media.istockphoto.com/id/1501185779/photo/man-doing-physical-therapy-exercises-using-a-stretch-band.jpg?s=612x612&w=0&k=20&c=3SmwAdGd9n7m6AGgHOkqUZU0d-XksLppY1MQzoPh5OA=');">
            <h2>Physical Therapist</h2>
        </div>
    </div>
</body>

</html>