.headofpage {
  padding: 1rem;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center the cards */
  margin: 20px;
}

.card {
  background-color: #ffffff; /* White background */
  border: 1px solid #dddddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 15px;
  padding: 20px;
  width: 300px; /* Fixed width for the cards */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.card:hover {
  transform: scale(1.05); /* Scale up card on hover */
}
h1 {
  text-align: center;
  color: #dddddd;
  padding: 1rem;
}

.card-header {
  border-bottom: 1px solid #dddddd; /* Bottom border for the header */
  padding-bottom: 10px;
}

.card-header h2 {
  margin: 0; /* Remove default margin */
  font-size: 20px; /* Title font size */
}

.card-body {
  margin-top: 10px;
}

.card-footer {
  margin-top: 15px;
  font-size: 14px; /* Smaller font size for footer */
  color: #666; /* Grey color for footer text */
}
