<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/istockphoto-1156179518-612x612.jpg" type="image/png">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/user-css/style.css">
    {{#if isHomePage}}
    <link rel="stylesheet" href="/user-css/home.css">
    {{/if}}
    {{#if isLoginPage}}
    <link rel="stylesheet" href="/user-css/login.css">
    {{/if}}
    {{#if isDashboardPage}}
    <link rel="stylesheet" href="/admin-css/dashboard.css">
    {{/if}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <img src="/images/istockphoto-1156179518-612x612.jpg" alt="DoctorWeb Logo"
            style="height: 40px;margin-left:4rem ;">
        {{#if isAdmin}}
        <a class="navbar-brand" href="/">DoctorWeb Admin Panel</a>
        {{else}}
        <a class="navbar-brand" href="/">DoctorWeb</a>
        {{/if}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                {{#if isAdmin}}
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/dashboard">User-Mangement</a>
                </li>
                {{/if}}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/booking">Doctor.Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                {{#if isAuthenticated}}
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <main style="padding-top: 70px;">
        {{{body}}}
    </main>
</body>

</html>